<div class="reasonsBuilderUi">

	{% set toggleFields = craft.reasons.getToggleFields() %}

	<div class="heading">
		<span>{{ 'Show this field if' | t }}</span>
	</div>

	<div class="reasonsBuilder">

		<div class="reasonsStatement">

			<span class="delimiter">{{ 'or' | t }}</span>

			<div class="reasonsRule">

				<div class="reasonsRuleParams">

					<div class="select reasonsRuleToggleField">

						<!-- Possible toggle fieldtypes:

						Lightbox, Dropdown, Checkboxes, Multi-select, Radio Buttons, Color, Number, Position Select,

						-->
						<select>
							{% for field in toggleFields %}
							<option value="{{ field.id }}" data-type="{{ field.fieldType.classHandle }}"{% if field.settings.options is defined %} data-values="{{ field.settings.options | json_encode }}"{% endif %}>{{ field.name }}</option>
							{% endfor %}
						</select>
					</div>

					<div class="select reasonsRuleCompare">

						<select>
							<!-- Load for all -->
							<option value="==">{{ 'is equal to' | t }}</option>
							<option value="!=">{{ 'is not equal to' | t }}</option>
							<!-- Load for numeric? -->
							<!--<option value=">">is larger than</option>
							<option value=">=">is larger than or equal to</option>
							<option value="<">is smaller than</option>
							<option value="<=">is smaller than or equal to</option>-->
						</select>

					</div>

					<div class="reasonsRuleValue">

						<!-- Possible values:

							LIGHTBOX | true/on  (input text/readonly/select)

							DROPDOWNS, CHECKBOXES, MULTI-SELECT, RADIO | [value/label] (select)

							COLOR | (color picker)

							NUMBER | (textfield/number)

							POSITION SELECT | (field selector – possibly select)

						-->

						<div class="select inputDropdown">
							<select class="value"></select>
						</div>

						<!--<div class="colorPicker">Color pick</div>

						<div class="input inputNumber">
							<input type="number" class="value" />
						</div>-->

					</div>

				</div>

				<div class="reasonsRuleAmend">
					<a class="delete icon reasonsRemoveRule" title="Remove rule"></a>
					<a class="add icon reasonsAddRule" title="Add rule"></a>
				</div>

				<span class="reasonsRuleLead">{{ 'and' | t }}</span>

			</div>

		</div>

	</div>

	<div class="reasonsAdd">
		<a class="btn reasonsAddStatement" title="Add rules">{{ 'Add rules' | t }}</a>
	</div>

</div>